@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');

*{
  color: #FFFFF0;
  background-color: #013A63;

  text-align: center;
  font-family: "Chelsea Market";
}

.Header{
  cursor: pointer;
  height: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: x-large;
}

.HeaderPhoneNumber{
  font-size: small;
}

.HeaderMotto{
  font-size: small
}

.AboutContainer{
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.AboutContent{
  width: 900px;
  margin-bottom: 20px;
}

.ServicesContainer{
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ServicesFlexbox{
  display: flex;
  flex-direction: row;
}

.ServiceContainer{
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  cursor: pointer;
  width : 200px;
  border : 2px solid #0262a7;
  padding : 50px;
  margin : 20px;
}

.ServiceContainer:hover{
  background-color: #0262a7;
}

.ServicesText{
  background-color: inherit;
}

.FooterContainer{
  position: relative;
  bottom: 0;
  width: 100%;
  height: fit-content;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: smaller;
}

.ImageSlideshowContainer{
  width: 100%;
  min-width: 100vw;
  height: fit-content;
  padding-left: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.ImageSlideshowOverlay{
  overflow: visible;
  width: 300px;
  height: fit-content;
  position:absolute;
  left : 50%;
  transform:translate(-50%, -600%);
  font-size: small;
  background-color:rgba(255,0,0,0);
}

.ConsultationButtonContainer{
  overflow: visible;
}

.ConsultationButton{
  font-size: medium;
  border-radius: 50px;
  border : 2px solid #0262a7;
  cursor: pointer;
  position:absolute;
  width: 250px;
  height: 75px;
  left : 50%;
  transform:translate(-50%, +100%);
  top: 0px;
  z-index: 1;
}

.ConsultationButtonInline{
  font-size: medium;
  border-radius: 50px;
  border : 2px solid #0262a7;
  cursor: pointer;
  width: 250px;
  height: 75px;
  margin: 10px;
  z-index: 1;
}

.ConsultationButton:hover{
  background-color: #0262a7;
}

.SlideshowImage{
  flex-shrink: 0;
  height : 250px;
  width: 250px;
}

.HomeCleaningPageContainer{
  display: flex;
  flex-direction: column;
}

.FlexboxRow{
  padding: 0px;
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  left: 50%;
  transform:translate(-50%, +0%);
  position: relative;
}

@media only screen and (max-width: 700px) {
  .ServicesFlexbox{
    flex-direction: column;
  }

  .FlexboxRow{
    margin-left: 30px;
    flex-direction: column;
  }
}

.ServiceCatergory{
  padding-bottom: 10px;
  margin-right: 60px;
}

.ServicesOffered{
  padding-bottom: 10px;
}

.ServicesListItemSubtext{
  padding-right:30px;
  font-size: small;
  color: #aaaaaa;
}



.flexboxColumn{
  padding: 0px;
  margin: 0px;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

li{
  text-align: left;
}

ul{
  padding-left: 20px;
  margin-right: 30px;
}